#include "stdafx.h"
#include <conio.h>
#include <string>
#include <iostream>

struct Amigo
{
	int idAmigo;
	string nombre;
	int edad;
};

void ordenar_amigos(Amigo vector_a[], int n)
{
	Amigo aux;
	int i,j;
	for(i=0;i<n;i++)
	{
		for(j=0;j<n-1;j++)
		{
			if(vector_a[j].edad > vector_a[j+1].edad)
			{
				aux = vector_a[j];
				vector_a[j] = vector_a[j+1];
				vector_a[j+1] = aux;
			}
		}
	}
}

